

.btn {
	transition-duration: 0.4s;
	border: none;
}

.btn:hover {
	background-color: grey;
	color: white;
}


h3 {color:black;}

.chiRow1 {height:300px;}

.popover {
  max-width: 100%;
}

/*give a fluidrow a custom class like 'class = something' to refer to elements
in just that row*/
/*.chiValueBox1 .small-box {height: 115px;}
.chiValueBox2 .small-box {height: 115px;}
.contCoeffValueBox .small-box {height: 115px;}*/

/*.style_valuebox_PA .small-box {height: 115px;}*/
/*.style_valuebox_PA1 .box.box {
  background: #309CCC;
}*/
/*.style_valuebox_OUTPUT_cyan .small-box {
  background-color: #3c8dbc !important;
  box-shadow: none;
}

.style_valuebox_OUTPUT_cyan .table {
  color: white;
  font-size: 12px;
}*/

.style_valuebox_OUTPUT_cyan .small-box {
  background-color: #3c8dbc !important;
  color: white ;
  box-shadow: none;
}

.style_valuebox_OUTPUT_cyan .table {
  color: white;
  font-size: 12px;
}

.style_valuebox_OUTPUT_cyan tr:hover {
  background-color: #51BFFF !important;
}



.style_valuebox_PI_cyan .small-box {
  background-color: #3c8dbc !important;
  box-shadow: none;
  color: white !important;
}

.style_valuebox_PI_cyan .table {
  color: white !important;
  font-size: 12px;
}

.style_valuebox_ODDS_cyan .small-box {
  background-color: #3c8dbc !important;
  box-shadow: none;
}

.style_valuebox_COHEN_cyan .small-box {
  background-color: #3c8dbc !important;
  box-shadow: none;
}

.style_valuebox_COHEN_cyan .small-box {
  background-color: #3c8dbc !important;
  box-shadow: none;
}

.style_valuebox_COHEN_cyan .table {
  color: white;
  font-size: 12px;
}

.style_valuebox_SPEAR_cyan .small-box {
  background-color: #3c8dbc !important;
  box-shadow: none;
}

.style_valuebox_OrdRank_cyan .small-box {
  background-color: #3c8dbc;
  box-shadow: none;
}

.style_valuebox_ICC_cyan .small-box {
  background-color: #3c8dbc !important;
  color: white ;
  box-shadow: none;
}

.style_valuebox_ICC_cyan .table {
  color: white;
  font-size: 12px;
}

.style_valuebox_ICC_cyan tr:hover {
  background-color: #51BFFF !important;
}

.style_valuebox_POLYC_cyan .small-box {
  background-color: #3c8dbc !important;
  box-shadow: none;
}

.style_valuebox_POLYC_cyan tr:hover {
  background-color: #51BFFF !important;
}

.style_valuebox_OMEGA_cyan .small-box {
  background-color: #3c8dbc !important;
  box-shadow: none;
}

.style_valuebox_OMEGA_cyan .table {
  color: white;
  font-size: 12px;
}

.style_valuebox_KRIPP_cyan .small-box {
  background-color: #3c8dbc !important;
  box-shadow: none;
}

.style_valuebox_CCC_cyan .small-box {
  background-color: #3c8dbc !important;
  box-shadow: none;
}

.style_valuebox_CCC_cyan .table {
  color: white;
  font-size: 12px;
}

.style_valuebox_CCC_cyan tr:hover {
  background-color: #51BFFF !important;
}

/*.tab1 .tab-content {
  background-color: #404040;
}

.tab1 .nav > li[class=active] > a {
  background-color: #404040;
  color: white;
}

.tab1 .nav {
  background-color: #404040;
  color: white;
  border: none;
}

.tab1 .nav > li[class=active] > a[data-value='tab1'] {
  background-color: #404040;
  color: white;
  border: none;
}

.tab1 .nav > li[class=active] > a[data-value='tab2'] {
  background-color: #404040;
  color: white;
  border: none;
}

.tab1 .nav > li > a:hover {
  background-color: dimgrey;
  color: white;
  border: none;
}

.tab1 .nav > li > a {
  color: white;
}*/





/*.btn .testbtn {
  padding-left: -20px;
}*/


/*.kappaValueBox1 .small-box {height: 115px;}
.kappaValueBox2 .small-box {height: 115px;}
.kappaValueBox3 .small-box {height: 115px;}*/
/*only .small-box would also work to change the color*/

/*.small-box.bg-aqua {
  background-color: #309CCC !important;
}*/
/*.table {background-color: white;}


/*file fileInput is below
/*.shiny-input-container {color: red;}
/*
changes all valueboxes, not really wanted
.small-box {
  font-size: 30px;
  height: 115px;
}*/

.btn-settBtn {
  font-size: 15px;
  margin-top: 10px;
  margin-right: 25px;
  border: none;
}

.column {
  padding: -50px;
}
/*.info-box-icon {background-color: red !important;}*/

/*change sidebar menu tabs border width and color*/
.skin-blue .sidebar-menu > .active > a {
  border-left: 0;
}
.skin-blue .sidebar-menu > li > a {
  border-left: 0;
}

.progress-bar {
  color: black;
  background-color: #3c8dbc;
}

.btn-file {
  padding-top: 7px;
  padding-bottom: 7px;
  border-right-width: 2px;
  border-right-color: black;
}

.piFileInput .btn-file {
  padding-top: 7px;
  padding-bottom: 7px;
}

.documRow {
  padding-top: 5px;
}

.homeDocumBtns .action-button.shiny-bound-input {
  margin-right: 20px;
}

.ordBttns .btn {
  margin-right: 5px;
  margin-top: 5px;
}

.kappaBttns .btn {
  margin-right: 5px;
  margin-top: 5px;
}

.polycBttns .btn {
  margin-right: 5px;
  margin-top: 5px;
}


.modaldiag h4 {
  color: black;
}




.iccBttns .btn {
  background-color: #3c8dbc;
  color: white;
}

.iccBttns .btn:hover {
  background-color: #51BFFF;
  color: white;
}

.iccBttns .btn:active {
  background-color: lightgreen;
  color: white;
}

.iccBttns .btn.active {
  background-color: lightgreen;
  color: white;
}

/*OMEGA*/
.checkbox_button_css .btn {
  background-color: #3c8dbc;
  color: white;
}

.checkbox_button_css .btn:hover {
  background-color: #51BFFF;
  color: white;
}

.checkbox_button_css .btn:active {
  background-color: lightgreen;
  color: white;
}

.checkbox_button_css .btn.active {
  background-color: lightgreen;
  color: white;
}

.selectInputStyle .selectize-input {
  background-color: #3c8dbc;
  color: white;
  border: none;
}

.selectInputStyle .selectize-dropdown {
  background-color: #3c8dbc;
  color: white;
  border: none;
}

.selectInputStyle .selectize-dropdown-content .active {
  background-color: lightgreen;
  color: black;
  border: none;
}

.selectInputStyle .selectize-control.single .selectize-input.input-active {
  background: #3c8dbc;
}

.selectInputStyle .optgroup-header {
  background-color: white;
  color: black;
  border: none;
  font-size: 15px;
}